  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" routerLink="/">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a routerLink = "/">About</a></li>
        <li><a routerLink = "user">User</a></li>
        <li><a routerLink = "stack">Stack-Search</a></li>
        <li><a routerLink = "technologies">Technology</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
  