<div class="container"><h1>Update your knowledge in technology</h1></div>
<div id="exTab1" class="container">	
	<ul  class="nav nav-pills">
		<li class="active">
			<a  href="#1a" data-toggle="tab">Top 10 Skills</a>
		</li>
		<li>
			<a href="#2a" data-toggle="tab">Top 10 Questions</a>
		</li>
	</ul>
	<div class="tab-content clearfix">
		<div class="tab-pane active" id="1a">
			<tech-d3></tech-d3>
		</div>
		<div class="tab-pane" id="2a">
			<top-questions></top-questions>
		</div>
	</div>
</div>

